<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-sidenav" mode="side" [(opened)]="opened" (mouseenter)="hoverOnDesktop(true)"
    (mouseleave)="hoverOnDesktop(false)">

    <!-- logo and button only on greater than sm screens -->
    <div class="d-none d-sm-block">
      <img class="d-inline-block ms-1 mt-3 mb-3" src="../assets/VM-2022-07 heart pin white.png" alt="logo">

      <div class="position-absolute border-top border-mute border-2 overF">
        <button (click)="showFiller = !showFiller"
          class="position-absolute top-100 start-100 translate-middle badge rounded-circle text-dark bg-light btn-sm border border-mute">
          <mat-icon *ngIf="!showFiller">chevron_right</mat-icon>
          <mat-icon *ngIf="showFiller">chevron_left</mat-icon>
        </button>
      </div>
    </div>


    <div class="d-sm-none d-flex position-relative justify-content-between">
      <!-- one of two functionally identical login/logout buttons -->
      <button mat-fab color="basic" class="d-sm-none mt-4 ms-4" (click)="onLogin()">
        NN
      </button>
      <!-- close button when sidenav is open -->
      <button class="btn text-light align-self-baseline p-1" (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>



    <!-- navigation sidenav expanded/shrinked with chevron button -->
    <mat-nav-list class="mt-4">
      <a mat-list-item class="text-light active">
        <mat-icon>home</mat-icon>
        <span class="nav-caption ps-2" *ngIf="showFiller">Home</span>
        <!-- <i class="fa-duotone fa-house"></i> -->
      </a>
      <a mat-list-item class="text-light">
        <mat-icon>devices</mat-icon>
        <span class="nav-caption ps-2" *ngIf="showFiller">Devices</span>
      </a>
      <a mat-list-item class="text-light">
        <mat-icon>person</mat-icon>
        <span class="nav-caption ps-2" *ngIf="showFiller">User</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- hamburger button to open sidenav on mobile phone screen -->
    <div *ngIf="!opened" class="d-sm-none">
      <button class="btn bg-light text-dark badge rounded-circle" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-card class="example-card">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <!-- one of two functionally identical login/logout buttons -->
    <button mat-fab color="basic" class="d-none d-sm-block ms-auto my-3 me-3" (click)="onLogin()">
      NN
    </button>
  </mat-sidenav-content>

</mat-sidenav-container>